.dash p{
    margin-bottom: 0;
}
.use p{
    margin-bottom: 0;
}
.sale p{
    margin-bottom: 0;
}
.pro p{
    margin-bottom: 0;
}
.add-prod p{
    margin-bottom: 0;
}


#receipt{
    color: #123288;
    border-radius: 20px 20px;
    outline: none;
    border: none;
    width: max-content;
    margin-right:75px ;
    padding: 4px 32px; 
}
#receipt:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.mainbody-right-boxheaders h6{
    width:15%;
}
.products p{
    width:15%;
}
.products button{
    width:15%;
}
.bal{
    width: max-content !important;
    padding: 24px;
    gap: 20px;
}
body{
    overflow: hidden;
}
.mainbody{
    height: 100lvh;
}

.admin-dashboard-icon i{
    background-color: orange;
    padding: 20px;
    border-radius: 50%;
}
.active{
    background-color: rgb(119, 152, 51);
    padding: 12px 0px;
}
.mainbody-right{
    background-color: rgb(22, 21, 21);
}
.mainbody-left{
    gap: 15px !important;
}