.dash p{
    margin-bottom: 0;
}
.use p{
    margin-bottom: 0;
}
.sale p{
    margin-bottom: 0;
}
.pro p{
    margin-bottom: 0;
}
.add-prod p{
    margin-bottom: 0;
}
body{
    max-height: 100lvh;
}
#receipt a{
color: #123288;
text-decoration: none;
}
#receipt{
    border-radius: 20px 20px;
     
}
.mainbody-right-boxheaders h6{
    width:15%;
}
.products p{
    width:15%;
}
.products button{
    width:15%;
}

