.product-div{
    width: 100%;
    height: 600px;
}
.left-main{
    width: 70%;
    height: 100%;
    background-color: aquamarine;
    padding: 12px;
    gap:12px;
}
.right-main{
    width: 30%;
    height: 100%;
    background-color:pink;
    padding: 12px;
    
}
.left-main-inner-one{
    width: 20%;
    height:100%;
    justify-content: space-between;
}
.left-main-inner-two{
    width: 80%;
    background-color: yellow;
    height: 100%;
}
.left-main-inner-one img{
    width: 100%;
    height: 30%;
    background-color: #d9d9d9;
}
.left-main-inner-two img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-main-inner-one p:first-of-type{
    margin-bottom: 2px;
}

.right-main-inner-three-one p{
    background-color: #d9d9d9;
    border-radius: 50%;
    text-align: center;
    height: 25px;
    width: 25px;
}
.right-main-inner-four a{
    text-decoration: none;
    width: 100%;
    border: none;
}
#add-to-cart{
  width: 100%;
  height: 40px; 
  border: none; 
  background-color: green;
}
#buy-now{
    width: 100%;
    height: 40px; 
    border: none; 
    background-color: black;   
}
.lower-main{
    width: 100%;
}
.lower-main-left{
   width: 70%; 
   padding-left: 20px;
}
.lower-main-right{
    width: 30%;
}
.lower-main-left-headers{
    width: 80%;
}