.card{
  height: 375px;
  width: 356px;
}
.card-text{
  font-weight:500 ;
}
.card-body{
  gap: 30px;
}
.card-link{
  text-decoration: none;
  color: #000;
  border: 1px solid black;
  border-radius:40px ;
  /* text-align: center; */
  padding: 10px;
}
.card-body {
  /* justify-content: start; */
  align-items: center;
  border: 1px solid black;
}
.card-price{
 margin: auto;
 /* text-indent: -100px;  */
}
.card{
  display: flex;
  gap: 12px;
}
.main{
  border: 1px solid rgb(178, 87, 87);
  height: 100vh;  
}
.inner{  
  width: 420px;
  height: 572px;
  margin-left: 60px;
  padding: 25px;
  gap: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}
.main a{
  text-decoration: none;
  color: white;
}
.inner input{
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  gap: 10px;
  background: transparent;
  align-items:center;
  
  }
.inner p{
  margin-top: 15px;  
}
#signinB{
  padding: 10px 28px;
  background-color: transparent;
  color: white;  
  outline: none;
  border: 1px solid white;
}
.user, .email, .password{
  color: white;
}
.main{
  background-image: url('../public/sign_background.png');
  background-position: center center;
}

