.card{
  height: 375px;
  width: 356px;
}
.card-text{
  font-weight:500 ;
}
.card-body{
  gap: 30px;
}
.card-link{
  text-decoration: none;
  color: #000;
  border: 1px solid black;
  border-radius:40px ;
  /* text-align: center; */
  padding: 10px;
}
.card-body {
  /* justify-content: start; */
  align-items: center;
  border: 1px solid black;
}
.card-price{
 margin: auto;
 /* text-indent: -100px;  */
}
.card{
  display: flex;
  gap: 12px;
}
.main{
  border: 1px solid rgb(178, 87, 87);
  height: 100vh;  
}
.inner{  
  width: 420px;
  height: 572px;
  margin-left: 60px;
  padding: 25px;
  gap: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}
.main a{
  text-decoration: none;
  color: white;
}
.inner input{
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  gap: 10px;
  background: transparent;
  align-items:center;
  
  }
.inner p{
  margin-top: 15px;  
}
#signinB{
  padding: 10px 28px;
  background-color: transparent;
  color: white;  
  outline: none;
  border: 1px solid white;
}
.user, .email, .password{
  color: white;
}
.main{
  background-image: url('../public/sign_background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rememberMe input{
  margin-right: 8px !important;
}
input{
  color: white;
}
.innerone{
  width: 168px;
  /* height: 157px; */
  gap: 33px;
}
.innertwo{
  width: 485px;
  height: 537px;
}
.tempinner{
  gap: 30px;
}
.innerthree{
  margin-left: 50px;
}
.offers{
  margin-left: 70px;
}
.size p{
  border: 10px solid black;
  color: black !important;
  border-radius: 50% ;
}
.sizes p{
  padding: 8px;
  margin: 0px 4px 0px 0px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #d9d9d9;
}
.quantity-div-inner{
  height: 40px;
  width: 80px;
}
.quantity-div-inner p{
  margin: auto 0px;
}
#addtocart{
  width: 100%;
  height: 44px; 
  border: none; 
  background-color: green;
} 
#buynow{
  width: 100%;
  height: 44px;
  border: none;
  background-color: black;
}
.tempmain{
  height: 625px;
  /* border: 1px solid black; */
}
.innerthree{
  /* border: 1px solid black; */
  height: max-content;
  gap: 6px;
}
#addtocart a, #buynow a{
  text-decoration: none;
  color: white;
}
#addtocart:hover{
  cursor: pointer;
  background-color: black;
}
#buynow:hover{
  background-color: green;
}
.pro-details{
  width: 75%;
}
.innerCard{
  height: 30%;
  width: 23%;
  
}
.innerCard img{
  height: 270px;
  width: 300px;
  background-color: #d9d9d9;
}

.reviews-left-headers{
  width: max-content;
}
.ret-desc {
  padding:32px 0px;
  border: 1px solid black;
}
.f-lheader{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  padding: 2px 18px 0px 18px;
}


.reviews-main-inner{
  gap:30px;
}

.prod{
  width: 40%;
  justify-content: center;
  text-align: center;
  
  margin: 8px 0px; 
}
.pri{
  width: 20%;
  justify-content: center;
  text-align: center;
  
}
.quan{
  width: 20%;
  justify-content: center;
  text-align: center;
  
}
.subt{
  width: 20%;
  justify-content: center;
  text-align: center;
  
}
.prod-headers p{
  margin: auto;
}
.items img{
  width: 144px;
  height: 144px;
}
.items a{
  text-decoration: none;
  margin: auto;
  color: black;  
}
.item-price p{
  width: 20%;
  text-align: center;
  border-right: 1px solid black;
}
.item-quantity{
  height: 40px;
  width: 80px; 
}